.stretch {
    height: 1000px;
}

body {
    background-color: #f9f9f9;
    font-family: "Roboto", sans-serif;
}

.navbar {
    min-height: 70px !important;
    z-index: 1;
    top: 0;
    transition: all 0.5s;
    background-color: #444 !important;
    box-shadow: 0 3px rgb(233, 227, 227);
}

.navbar-fixed-top {
    border-width: 0;
    background-color: #f9f9f9;
    padding: 0 0 0 0;
}

.navbar a {
    min-height: 70px;
    color: #eee !important;
    vertical-align: middle;
    padding-top: 25px !important;
}

.nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a {
    background-color: #444 !important;
}

.nav>.active>a:hover,
.navbar-nav a:hover {
    background-color: #aaaaaa !important;
}

@media (min-width: 768px) {
    #topBar ul {
        float: right;
    }
}

@media (max-width: 768px) {
    #topBar ul {
        border-bottom: 1px solid #ddd;
    }
    .navbar-fixed-top {
        padding: 0;
    }
}

span.logo {
    max-width: 0;
    overflow: hidden;
    transition: all 1.5s;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0 0 0;
}

.logo-show span.logo {
    max-width: 500px;
}

#topBar ul {
    text-align: center;
    font-size: 1.3em;
}

#topBar ul>li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#menuToggler {
    font-size: 1.9em;
    font-weight: lighter;
    color: #ccc;
}

.main {
    display: grid;
    justify-items: center;
    margin-top: 80px;
    min-height: 1vh;
}

.section {
    max-width: 1200px;
    display: grid;
    width: 100%;
    padding: 0 15px 0 15px;
}

.section1 {
    max-width: 100%;
    padding: 0;
}

/* Flexible panels section */

.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Shadows Into Light', cursive;
}

.panel {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    transition: all 1.5s cubic-bezier(0.38, -0.44, 0.57, 1.33);
    border: none !important;
    border-radius: 0 !important;
    color: white;
}

.panel:hover {
    cursor: pointer;
}

.panel p {
    text-transform: uppercase;
}

.panel p:nth-child(2) {
    font-size: 1.4em;
}

/* Panel children*/

.panel>* {
    margin: 0;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s linear 0.5s;
}

.panel>*:first-child {
    transform: translateY(-100%);
}

.panel.open>*:first-child {
    transform: translateY(0%);
}

.panel>*:last-child {
    transform: translateY(100%);
}

.panel.open>*:last-child {
    transform: translateY(0%);
}

.panel1 {
    background-image: url("file://D:/dckym/Dev/Studying/Wes-Bos-Courses/Javascript30/05-Flex_Panels/01.jpg");
}

.panel2 {
    background-image: url("file://D:/dckym/Dev/Studying/Wes-Bos-Courses/Javascript30/05-Flex_Panels/02.jpg");
}

.panel3 {
    background-image: url("file://D:/dckym/Dev/Studying/Wes-Bos-Courses/Javascript30/05-Flex_Panels/03.jpg");
}

.panel4 {
    background-image: url("file://D:/dckym/Dev/Studying/Wes-Bos-Courses/Javascript30/05-Flex_Panels/04.jpg");
}

.panel5 {
    background-image: url("file://D:/dckym/Dev/Studying/Wes-Bos-Courses/Javascript30/05-Flex_Panels/05.jpg");
}

.open {
    flex: 5;
    font-size: 1.5em;
}

.social_links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-items: center;
    grid-gap: 10px;
}

/* circular links */

.linkbutton {
    border: 2px solid #0092FB;
    border-radius: 10px;
    padding: 10px 12px 10px 12px;
    background-color: #0092FB;
    margin: 0 auto;
    width: 155px;
    color: #f9f9f9;
    text-align: center;
}

.linkbuttonText {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
}

.linkbutton:hover {
    background-color: #f9f9f9;
    border: 2px solid #0092FB;
    color: #0092FB;
    text-decoration: none;
}

.linkbutton1 {
    margin-bottom: 5px;
}

a:link {
    text-decoration: none;
}

.divider {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    margin: 25px 0 25px 0;
}

.icon {
    font-size: 1.4em;
}

.iconborder {
    border: 3px solid #0092FB;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #186798;
    color: #0092FB;
    font-size: 2.5em;
    padding-top: 12px;
    margin: 20px 4px 20px 4px;
}

.iconborder:hover {
    background-color: #0092FB;
    color: white;
    width: 58px;
    height: 58px;
    margin: 13px 0px 13px 0px;
    padding-top: 17px;
}

/* Portfolio styles */

.portfolioItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 10px;
}

.portfolioLinkMain {
    padding: 3px;
    max-width: 550px;
}

.wrapperMain {
    position: relative;
    width: 100%;
}

.wrapperMain:before {
    content: "";
    display: block;
}

.pImageMain {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    height: auto;
    display: block;
}

.pImageMain img {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.pImageMain.loaded img {
    opacity: 1;
}

.pImageMain.loaded {
    background-color: transparent !important;
}

.pImageMain.overlay {
    background-color: black;
}

.pImageMain:after {
    padding-top: 25%;
    color: white;
    content: "\f121";
    font-family: FontAwesome;
    font-size: 3em;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.pImageMain:hover:after {
    opacity: 0.5;
    vertical-align: middle;
}

.portfolioImageMain {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolioLinkMain {
    padding: 3px;
    max-width: 100%;
}

.portfolioMainDescription {
    padding-left: 7px;
}

.portfolioHead {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.portfolioSubhead {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 0px;
}

/* Wikipedia Search */

.mainContainer {
    padding-top: 20px;
    display: grid;
    grid-template-columns: [c1] 10% [c2] 1fr [c3] 1fr [c4] 10% [c5];
    grid-template-rows: [r1] 80px [r2] 60px [r3] 60px [r4] 1fr [r5] auto [r6] 170px [r7];
    grid-template-areas: "header header header header" "searchinput searchinput searchinput searchinput " "search search search search" ". sep sep ." ". results results ." ". details details ." "footer footer footer footer";
    grid-gap: 5px 5px;
}

.wikiTitle {
    grid-area: header;
    text-align: center;
    padding-bottom: 40px;
    color: #bbb;
}

.searchBar {
    grid-area: searchinput;
    display: grid;
    align-items: center;
    justify-items: center;
}

.searchIcon {
    grid-area: searchinput;
    margin: auto;
    z-index: 1;
}

.searchIconShow {
    font-size: 3em;
    color: #E3C21C;
    z-index: 1;
    cursor: pointer;
}

.wikisearch {
    background-color: #CBCEDD;
    width: 0;
    max-width: 250px;
    opacity: 0;
    z-index: 0;
    transition: all 1s linear 0.2s;
}

.wikiButton {
    border-radius: 5px;
}

.searchArea {
    grid-area: search;
    opacity: 0;
    transition: opacity 1s linear 1.5s;
}

.buttonDiv {
    padding-top: 20px;
    text-align: center;
}

.search {
    text-align: center;
    margin-bottom: 15px;
    width: 70px;
    border: 2px solid black;
    background-color: #E3C21C;
    font-weight: bold;
    color: black;
}

.search:hover,
.search:focus,
.search:active {
    background-color: #E3C21C;
    font-weight: bold;
    box-shadow: none;
    border: 2px solid black;
}

.random {
    color: #E3C21C;
    padding-left: 50px;
    font-size: 2.2em;
}

.sep {
    color: #CBCEDD;
    grid-area: sep;
    text-align: center;
}

.sephr {
    background-color: #CBCEDD;
    color: #FDFCF7;
    width: 0vw;
    transition: width 1.7s ease;
}

.imageButton {
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 150px;
    border: 2px solid black;
    background-color: #E3C21C;
    font-weight: bold;
    color: black;
    visibility: hidden;
}

.imageButton:hover,
.imageButton:focus,
.imageButton:active {
    background-color: #E3C21C;
    font-weight: bold;
    box-shadow: none;
    border: 2px solid black;
}

.results {
    display: none;
    grid-area: results;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
    grid-gap: 8px 8px;
}

.result {
    border-radius: 7px;
    border: 3px solid black;
    background-color: #E3C21C;
    padding: 10px;
    display: grid;
}

.resultsImage {
    width: 100%;
}

.titleLink {
    font-size: 1.6em;
}

a.titleLink {
    color: black;
}

a:visited {
    color: black;
}

a.readMore {
    color: blue;
}

.test {
    display: none;
}

.details {
    color: #ededed;
    display: grid;
    grid-area: details;
    justify-items: center;
    align-items: center;
    transition: opacity 0.5s ease 0.3s;
    z-index: 0;
    background-color: white;
    max-height: 200px;
}

.resultsGroup {
    width: 120px;
    text-align: center;
}

.settingsTitle {
    margin: 8px;
    color: #CBCEDD;
}

.minus,
.plus {
    cursor: pointer;
    background-color: #CBCEDD;
}

.resultsNumber {
    text-align: center;
    width: 50px;
    background-color: #CBCEDD;
    font-weight: bold;
}

.closer,
.closer:hover,
closer:focus,
closer:active {
    color: #222534;
    background-color: #CBCEDD;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    box-shadow: none;
    font-size: 0.9em;
    padding: 7px 10px 7px 10px;
}

.settings {
    display: grid;
    align-items: end;
    justify-items: center;
    grid-area: details;
    z-index: 2;
    font-size: 2.4em;
    transition: opacity 0.5s ease 0.3s;
    background-color: white;
    max-height: 200px;
}

.settingsButton {
    padding-bottom: 10px;
    cursor: pointer;
    color: #111;
}

.imageControl {
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin-bottom: 10px;
}

.imageOn {
    background-color: #CBCEDD;
    color: #222534;
}

.imageOff {
    background-color: red;
    color: #CBCEDD;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    height: auto;
    background-color: #1D1F20;
}

/* URL Shortener */

.URLshort {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: end;
    align-content: center;
    padding: 10px;
}

.urlInput {
    height: 42px;
    padding: 0 10px 0 10px;
    border-radius: 4px 0 0 4px;
    font-size: 1.1em;
    border: 1px solid gray;
}

.urlButton {
    height: 42px;
    font-size: 1.1em;
    padding: 0 10px 0 10px;
    border-radius: 0px 4px 4px 0;
    border: 1px solid gray;
    cursor: pointer;
    max-width: 80px;
    border: none;
}

.submit {
    background-color: #0077CC;
}

.copy {
    background-color: #4CAF50;
}

.clear {
    justify-self: center;
    align-self: start;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    color: gray;
    background-color: white;
    border: 0;
    margin-top: 3px;
}

.hidden {
    display: none;
    z-index: -1;
}

/* About you section */

.about_you {
    justify-items: center;
}

.about_you>p {
    text-align: center;
}

/* Quoter */

.quoteWrapper>* {
    padding: 10px;
    flex: 1 100%;
}

#quoteMark {
    font-family: 'Revalia', cursive !important;
    font-size: 1.6em;
}

.quote {
    text-align: center;
    display: flex;
    min-height: 200px;
}

#quoter {
    text-align: center;
    background-color: #0A5CD4;
    color: white;
    border-style: none;
    box-shadow: none;
    cursor: pointer;
}

#quote-content {
    font-family: 'Special Elite', cursive;
    font-size: 1.2em;
    text-align: left;
    padding-top: 10px;
    flex: 1;
}

#quote-title {
    text-align: right;
    font-family: 'Special Elite', cursive;
}

.tweet {
    padding: 0;
}

#tweetButton {
    font-size: 2.2em;
    color: #0A5CD4;
}

@media all and (min-width: 400px) {
    .base {
        flex: 1 auto;
    }
    #quote-title {
        order: 2;
    }
    .tweet {
        order: 2;
        display: flex;
        align-items: flex-end;
        padding: 0px 10px 0px 20px;
    }
    .quoteButton {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px 20px 10px 10px;
    }
}

/* Footer */

.footer {
    height: 70px;
    background-color: #444;
    /*alternate footer colour*/
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer p {
    color: #f9f9f9;
}
